/*
 * default.css
 * 
 * Copyright 2013 Robert Knauer <robert@privatdemail.net>
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 * 
 * 
 */

* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 1em;
}
a {
	font-size: 1em;
	color: black;
	text-decoration: underline;
}
a:visited {
	color: black;
	text-decoration: underline;
}
a:hover {
	color: #656565;
	text-decoration: none;
}
dd {
	margin-left: 20px;
}
div#leftrow {
	float: left;
	margin-left: 20px;
	margin-bottom: 1%;
}
div#leftrow_box1 {
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
	padding-bottom: 0.5%;
	width: 140px;
}
div#leftrow_box2 {
	width: 140px;
	margin-top: 20px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
	padding-bottom: 0.5%;
}
div#leftrow_box2 input.field {
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	margin: 3px;
}
div#leftrow_box2 span.heading {
	font-size: large;
}
div#rightrow {
	margin-left: 190px;
	margin-top: 1%;
	margin-right: 20px;
	margin-bottom: 1%;
}
div#clearrow {
	clear: left;
}
div#player_controls {
	width: 136px;
	height: 34px;
}
div#player_controls a {
	margin: 1px;
	border: none;
}
div#player_status {
	border: 1px solid black;
	border-radius: 10px;
	padding: 2px;
}
p#player_time {
	font-size: large;
}
span#player_elapsed {
	font-size: xx-large;
}
span#player_songinfo {
	font-size: x-large;
}
span#player_album {
	font-style: italic;
	font-size: large;
}
div#player_progress {
	margin: 10px;
}
div#player_statusmessage {
	border: 1px solid black;
	border-radius: 10px;
	margin-top: 20px;
	background-image: url('img/dialog-information.png');
	background-repeat: no-repeat;
	background-position: 5px 50%;
	height: 32px;
	padding: 5px;
	padding-left: 50px;
}
div#player_volume {
	float: left;
}
div#player_volume_bar {
	margin: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}
div#player_xfade {
	margin-left: 50px;
}
div#player_xfade_bar {
	margin: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}
div#player_list_tabs {
	border: 1px solid black;
	border-radius: 10px;
	margin-top: 20px;
	overflow: auto;
}
div#player_list_tabs ul.ui-tabs-nav {
	height: 50px;
}
.invisible {
	display: none;
}
table#player_playlist {
	width: 100%;
}
table#player_playlist td,
table#player_playlist th {
	padding: 5px;
}
table#player_playlist tr {
	background-color: #BFBFBF;
}
table#player_playlist tr.even {
	background-color: #E5E5E5;
}
table#player_playlist tr.playing {
	background-color: #FFD588;
}
table#database_table {
	width: 100%;
}
table#database_table td {
	vertical-align: top;
	width: 33%;
}
table#database_table th {
	font-size: large;
}
ul#filesystem_list li.folder {
	list-style-image: url('img/folder.png');
}
ul#filesystem_list li.music {
	list-style-image: url('img/audio-x-generic.png');
}
table#advanced_search_form td.label {
	text-align: right;
	padding-right: 5px;
}
table#advanced_search_form input.submit {
	width: 100%;
}
table#advanced_search_form input.field {

}
table#search_table td {
	vertical-align: top;
}
ul#search_results_list li {
	list-style-image: url('img/audio-x-generic.png');
	margin-left: 30px;
}
table#stored_playlists_table {
	width: 100%;
}
table#stored_playlists_table td {
	vertical-align: top;
	width: 50%;
}
table#stored_playlists_table th {
	font-size: large;
}
